<%= link_to "New", new_transaction_path, class: "btn btn-primary pull-right" %>

<h1>Transactions</h1>

<table class='table'>
  <thead>
    <tr>
      <th><strong>Amount</strong></th>
      <th><stong>Card Number</strong></th>
      <th><stong>Exp Date</strong></th>
      <th><stong>CVV</strong></th>
      <th><stong>Auth</strong></th>
    </tr>
  </thead>

  <% @transaction.each do |transaction| %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= "XXXX-XXXX-XXXX-#{transaction.card_number.to_s.slice!(12..16)}" %></td>
      <td><%= transaction.exp_date %></td>
      <td><%= transaction.cvv %></td>
      <td><%= transaction.auth_code %></td>
    </tr>
  <% end %>
</table>
